page-durban {
  .larger {
    font-size: 100px;
    margin-left: 30%;
}
.main{
background: color($colors, twitter);
}
ion-slides {
  --bullet-background: #ffffff;
  --bullet-background-active: #b8b8b8;
}
 ion-thumbnail {
  
  img {
      max-width: 10rem;
      min-width: 10rem;
  }
}

}
