
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";




$colors: (
  primary:    #505880,
  secondary:  #75BAFF,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  twitter: (
    base: rgb(165, 171, 201),
    contrast: #ffffff
  ),
  card: #588CBF
);

$toolbar-md-background: color($colors, primary);


@import "ionic.theme.default";



@import "ionic.ionicons";


@import "roboto";
@import "noto-sans";
