
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";




$colors: (
  primary:    rgb(0, 45, 97),
  secondary:  rgb(69, 69, 70),
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  twitter: (
    base:rgb(3, 27, 51) ,
    contrast: #ffffff
  ),
  card: #588CBF
);

$toolbar-md-background: color($colors, primary);


@import "ionic.theme.default";



@import "ionic.ionicons";


@import "roboto";
@import "noto-sans";
