<!--
  Generated template for the LadysmithPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Ladysmith</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main">

    <ion-card  *ngIf="wNKR" color="secondary">

        <ion-card-header >
     {{descr}}
        </ion-card-header>

        <ion-card-content>
            <ion-icon name="partly-sunny" class="larger"></ion-icon>
            <ion-row>
                <ion-col col-5> Temp: {{wNKR.main.temp}}  °C</ion-col>
                <ion-col col-7> Pressure: {{wNKR.main.pressure}}  mb</ion-col>
            </ion-row>
        </ion-card-content>

      </ion-card>

      <ion-card *ngIf="nkr" color="card">
        <ion-card-header>
            <ion-col col-5>{{ahe}}</ion-col>
        </ion-card-header>
        <ion-card-content>
        <ion-row>
          <ion-col col-12>{{art}}</ion-col>
          <ion-col col-12>{{url1}}</ion-col>
          <ion-col col-12>{{date1}}</ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
</ion-content>
